<header class="header" id="header">
    <div class="header__container">
        <a href="#" class="header__logo">
            <i class="ri-bank-line"></i>
            <span>Loan</span>
        </a>

        <button class="header__toggle" id="header-toggle">
            <i class="ri-menu-line"></i>
        </button>

        <a href="/frontend/client/pages/Main/index.html" class="header__home-btn">
            <i class="ri-home-5-line"></i>
            <span>Home</span>
        </a>


    </div>
</header>

