<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - PDM Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
        }
    </style>
</head>
<body>
<!-- Contact -->
<div class="text-center p-6 py-20 lg:px-32 w-full overflow-hidden" id="Contact">
    <h1 class="text-2xl sm:text-4xl font-bold mb-2 text-center">Contact <span class="underline underline-offset-4 decoration-1 under font-light">With Us</span></h1>
    <p class="text-center text-gray-500 mb-12 max-w-80 mx-auto">Ready to Make a Move? Let's Build Your Future Together</p>
    <form class="max-w-2xl mx-auto text-gray-600 pt-8" id="contactForm">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 text-left">
                Your Name
                <input class="w-full border border-gray-300 rounded py-3 px-4 mt-2" type="text" name="Name" placeholder="Your Name" required/>
            </div>
            <div class="w-full md:w-1/2 text-left md:pl-4">
                Your Email
                <input class="w-full border border-gray-300 rounded py-3 px-4 mt-2" type="email" name="Email" placeholder="Your Email" required/>
            </div>
        </div>
        <div class="my-6 text-left">
            Message
            <textarea class="w-full border border-gray-300 rounded py-3 px-4 mt-2 h-48 resize-none" name="Message" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="bg-blue-600 text-white py-2 px-12 mb-10 rounded hover:bg-blue-700 transition">Send Message</button>
    </form>
</div>

<script src="./contact.js"></script>
</body>
</html>