<!-- Hero Component -->
<div class="min-h-screen mb-4 bg-cover bg-center flex items-center w-full overflow-hidden"
     style="background-image: url('/frontend/client/assets/images/main/header_img.png')" id="Hero">
    <div class="container text-center mx-auto py-4 px-6 md:px-20 lg:px-32 text-white">
        <h2 class="text-5xl sm:text-6xl md:text-[76px] inline-block max-w-5xl font-semibold pt-20">
            Let us help your finance situation
        </h2>
        <div class="space-x-6 mt-16">
            <a href="#Projects" class="border border-white px-8 py-3 rounded">Projects</a>
            <a href="#Contact" class="bg-blue-500 px-8 py-3 rounded">Contact Us</a>
        </div>
    </div>
</div>