<link rel="stylesheet" href="/frontend/server/css/Header/style.css">
<!--=============== REMIXICONS ===============-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
<!--=============== HEADER ===============-->
<header class="header" id="header">
    <div class="header__container">
        <a href="#" class="header__logo">
            <span>HCMIU - Admin - Managment</span>
        </a>

        <button class="header__toggle" id="header-toggle">
            <i class="ri-menu-line"></i>
        </button>
    </div>
</header>
